/* =============
    Base
============= */

.large-images{
    width: 100%;}

.header-logo{
    width: 88px;
    height: 77px;

    @include md;
    width: 90px;
    height: 100px;

    @include xl;
    width: 120px;
    height: 130px;
}

.news-images{
    width: 80%;}

.Roster-Gear-Icons{
    width: 30%;
}

.footerlogo{
    width: 90px;
}