/* =============
    Heros
============= */

#hero-top{
    text-align: center;
    h1{
        color: var(--navy);
        font-size: 25px;

        @include md{
            font-size: 45px;
        }
    }

}

#img{
    line-height: 0px;
    display: block;
}

#hero-bottom{
    background-color: var(--yellow);
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    h1{
        font-size: 25px;
        line-height: 20px;
        color: var(--navy);
    }

    @include md{
       text-align: center;
    }

    >div{
       display: flex;
    
        i{
            width: 10px;
            height: 6px;
            padding-left: 100px;
            padding-top: 35px;
            color: var(--navy);
            @include md{
                text-align: center;
                // padding-left: 0px;
                // padding-top: 55px;
            }
        }
        

        aside{
        font-size: 15px;
        @include md{
            // font-size: 20px;
        }
        }
        
    
    }
}
