/* =============
    Heros
============= */

#hero-top{
    text-align: center;

    @include md{
        //text-align: center;
    }
    >div{
        grid-area: herotop;
            }       
}

#hero-bottom{
    background-color: var(--yellow);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 76px;
    padding-left: 10px;

    @include md{
        text-align: center;
    }
    >div{
        grid-area: herobottom;
            }
}
