/* ===================
    Roster & Gear
====================== */

.roster_gear{
    >div{
        ul{
            margin-top: 24px;
            margin-bottom: 24px;
            padding: 0;
            display: grid;
            gap: 16px;

            @include md{
                grid-template-columns: 50% 50%;
                gap: 0px;
            }

            @include xl{
                margin-left: 225px;
                margin-right: 225px;
            }
        
            li{
                display: flex;
                justify-content: space-between;
                list-style: none;
                background-color: var(--lightgray);
                padding-bottom: 24px;
                padding-top: 16px;
                padding-left: 16px;
                padding-right: 16px;

                h1{
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 30px;
                    color:var(--navy);

                    @include md{
                        font-size: 28px;
                        line-height: 30px;
                    }

                    @include lg{
                        font-size: 31px;
                        line-height: 30px;
                    }
                }
                button{
                    background-color: var(--yellow);
                    border: none;
                    padding: 4px 24px; 
                    margin-top: 20px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    @include md{
                    
                    }

                    @include lg{
                    font-size: 18px;
                    }
                }

                @include md{
                    margin-top: 30px;
                    margin-right: 16px;
                    margin-left: 16px;
                    margin-bottom: 40px;
                    padding-left: 24px;
                    padding-right: 24px;
                }
            }

                #s1{
                    @include xl{
                    grid-area: s1;
                }
                }  
                #s2{
                    @include xl{
                    grid-area: s2;
                }
                }  

                
            }   
        }   
    
    }
