/* =============
    Whats New
============= */

.whats_new {

    >div{

       #news-header{
            margin-left: 16px;
            margin-bottom: 8px;
            h1{
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color:var(--newsgray)
            }
        }

        @include xl{
            margin-top: 50px;
            margin-bottom: 16px;
        }
       }

    ul{
        margin: 0;
        padding: 0;
        display: grid;
        gap: 24px;
        h2{
            font-weight: 500;
            font-size: 27px;
            line-height: 30px;
            color: var(--navy);
        }
        p{
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: var(--navy);
        }

    @include md{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "n1 n1 n2 n2"
        "n3 n3 n4 n4"
        ". n5 n5 .";
        } 

       @include xl{
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "n1 n1 n2 n2 n3 n3"
        ". n4 n4 n5 n5 .";
        margin-left: 225px;
        margin-right: 225px;
        margin-bottom: 50px;
        }

        li{
            
            list-style: none;
            background: var(--white);
            box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.3);
            padding-bottom: 24px;
            text-align: left;

            >aside{
                margin: 0 16px;
            }
            
            button{
                background-color: var(--yellow);
                border: none;
                padding: 4px 24px;
                margin-top: 24px;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: var(--navy);
            }
        }

        #n1{
            @include md{
            grid-area: n1;
        }
        }  
        #n2{
            @include md{
            grid-area: n2;
        }
        }   
        #n3{
            @include md{
            grid-area: n3;
        }
        }  
        #n4{
            @include md{
            grid-area: n4;
        }
        }  
        #n5{
            @include md{
            grid-area: n5;
        }
        }  
    }
    }


            
    
    
