/* =============
    Whats New
============= */

.whats_new {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". whatsnew .";

    >div{
        grid-area: whatsnew;

    ul{
        margin: 0;
        padding: 0;
        display: grid;
        gap: 24px;

        /* @include md{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "n1 n1 n2 n2"
        "n3 n3 n4 n4"
        ". n5 n5 ."
        } 

       /* @include xl{
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "n1 n1 n2 n2 n3 n3"
        ". n4 n4 n5 n5 .";
        } */

        li{
            list-style: none;
            background-color: #00ffff;
            padding-bottom: 24px;
            text-align: left;
        }

       /* #n1{
            grid-area: n1;
        }
        #n2{
            grid-area: n2;
        }
        #n3{
            grid-area: n3;
        }
        #n4{
            grid-area: n4;
        }
        #n5{
            grid-area: n5;
        } */
       
        } 
    }
}

            
    
    
