/* =============
    Whats New
============= */

.whats_new {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". whatsnew .";

    @include md{
        grid-template-columns: 12% auto 12%;
    }

    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
    }

    >div{
        grid-area: whatsnew;

            }
        
    }
            
    
    
