/* =============
    Footer
============= */

footer{
    background-color: var(--navy);
    padding-bottom: 16px;

    #logos{
        ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding-top: 32px;
            gap: 16px;
            margin-left: 16px;
            margin-bottom: 16px;
            // li{}
        }
    }

    #text{
        margin-left: 16px;

        div{
            li{
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
            }
            a:link, a:visited{
                color: var(--lightgray);
                &:hover, &:active{
                color: var(--yellow);
                text-decoration: none;    
                }
                }
        }
    }
    
    #socials{
        margin-left: 16px;
        aside{
            display: flex;
            gap: 16px;
        }
           
            p{
            color: var(--lightgray);
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            }
    }

    #l1{
        width: 80px;
        height: 80px;
    }
    
    #l2{
        width: 135px;
        height: 35px;
    }
    
    #l3{
        width: 120px;
        height: 40px;
    }

    #l4{
        width: 80px;
        height: 75px;}

    #l5{
        width: 65px;
        height: 65px;}

    #l6{
        width: 95px;
        height: 25px;}

}