/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    background-color: var(--navy);
    text-align: center;

    @include md{
        grid-template-columns: 12% auto 12%;
        text-align: left;
    }

    >div{
    grid-area: header;
    }
}
