/* =============
    Navigation
============= */
html{
    scroll-behavior: smooth;
}

.showmenu{
    display: block !important;
}

nav{
    display: none;

    @include lg{
        display: block;
    }
    ul{

        @include lg{
            display: flex;
            justify-content: flex-end;
            padding-top: 35px;
        }

        li{
            text-align: right;

            @include lg{
                margin-left: 16px;
            }

                a:link, a:visited{
                    display: inline-block;
                    color: var(--yellow) ;
                    padding: 16px 0 16px;
                    text-decoration: none;
                    
                    @include lg{
                        font-size: 28px;
                        border: 1px solid transparent;
                        border-radius: 6px;
                        padding-left: 16px;
                        padding-right: 16px;
                        transition: 0.25s;
                    } 
                        
                        &:hover, &:active{
                            background-color: var(--yellow);
                            color: var(--navy);
                            padding-left: 16px;
                            padding-right: 16px;
                            border-radius: 6px; 
                                                  
                        }
                }

        }
    }
}